name: Release Extension

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Build Extension
        run: pnpm build

      - name: Get Version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Zip Release
        run: |
          cd dist
          zip -r ../xCard-${{ steps.get_version.outputs.VERSION }}.zip ./*
          cd ..

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: xCard-${{ steps.get_version.outputs.VERSION }}.zip
          generate_release_notes: true
